header {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 40px;
}

.logo {
    display: flex;
    flex-direction: row;


    & h1 {
        color: #FFFFFF;
        font-size: 1.5rem;
        font-family: var(--lucida);
        font-weight: normal;
    }

    & p {
        position: relative;
        color: var(--text-light);
        top: 7px;
        left: 5px;
    }
}

.user {
    color: var(--text-light);
    display: flex;
    flex-direction: row;
    gap: 20px;


    & button {
        background-color: var(--light-blue);
        color: var(--text-light);
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        font-synthesis-style: auto;
    }

    & img {
        width: 30px;
        height: 30px;
    }

    & :nth-child(1) {
        position: relative;
        top: 10px;
    }

    & :nth-child(2) {
        padding: 8px;
        background-color: rgb(116 116 116 / 0.4);
        border-radius: 100px;
    }
}
