
body, input, select, button, table {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, .title h1 {
  font-family: 'Source Serif 4', sans-serif;
  letter-spacing: -0.02em;
}


body {
  margin: 0;
}


