* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}


.back{
  height: 70%;
  background-color: #15304D;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {

  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 15px;
  gap: 30px;

}

.title {

  & h1 {
    font-weight: normal;
    color: var(--dark-blue);

  }

  & p {
    color: var(--text-light);
  }

}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & input {
    padding: 8px;
    border: 1px solid var(--text-light);
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-btn button{
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid;
  background-color: var(--dark-blue);
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}

.post-btn button:hover {
  background-color: var(--light-blue);
}

