* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;

}


.back{
  height: 90%;
  background-color: #15304D;
  display: flex;
  justify-content: center;
  align-items: center;

}

section {

  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #FFFFFF;
  padding: 40px 25px;
  border-radius: 25px;
  gap: 30px;

}

.title {

  & h1 {
    font-weight: normal;
    color: var(--dark-blue);

  }

  & p {
    color: var(--text-light);
  }

}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;

  & input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.input-group input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.input-group input:hover {
  border-color: #888;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-btn button{
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 0px;
  border: none;
  background-color: var(--dark-blue);
  font-family: Inter;
  font-size: 1.2rem;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}

.post-btn button:hover {
  background-color: var(--light-blue);
}

.double-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  & div {
    display: flex;
    flex-direction: column;
  }
}


.select {
  appearance: none;
  padding: 10px;
  font-size: 1.05rem;
  font-family: inherit;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;

  /* Transição suave ao interagir */
  transition: all 0.3s ease;
}

