* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
}

.painel {
    padding: 6vh 4vw;
}








