* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}


.nav-option.active {
    background-color: var(--text-light);
    border-left: 5px solid #007BFF;
}

.menu {
    display: flex;
    flex-direction: row;
}

.painel {
    padding: 6vh 4vw;
}




